<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>budget.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DC7AD4FF2780F4570053BF72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC7AD5142780F4580053BF72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC7AD51E2780F4580053BF72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
